@import '../../styles/variables.scss';

.posts {
  > * {
    margin-bottom: $space-m;
  }
}

.pagination-actions {
  align-items: center;
  display: flex;
  justify-content: center;
  * {
    margin: $space-s;
  }
}

@media (min-width: $width-medium) {
  .pagination-actions {
    justify-content: flex-end;
  }
}
