@import '../../styles/variables.scss';

.posts {
  max-width: $container-width-small;
  > * {
    margin-bottom: $space-m;
  }
}

.pagination-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  * {
    margin: $space-s;
  }
}
