* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

html {
  font-size: 16px;
}

// semantically-defined stylings

a {
  color: $color-secondary;
  text-decoration: none;
  &:visited {
    color: $color-secondary;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
  &:focus,
  &:active {
    outline-color: $color-secondary;
  }
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-transform: none;
  &:focus,
  &:active {
    outline-color: $color-secondary;
  }
}

h1,
.h--1 {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-xxl;
  font-weight: 400;
  line-height: 1;
  margin-bottom: $space-s;
}

h2,
.h--2 {
  font-size: $font-size-xl;
  line-height: 1;
  margin-bottom: $space-l;
}

h3,
.h--3 {
  font-size: $font-size-l;
  font-weight: 700;
  line-height: 1;
  margin-bottom: $space-s;
}

h4,
.h--4 {
  font-size: $font-size-m;
  font-weight: 700;
  line-height: 1;
  margin-bottom: $space-l;
}

h4,
.h--4,
p,
.p {
  font-size: $font-size-m;
  font-style: normal;
  line-height: 1;
  margin-bottom: $space-m;
}

p,
.p {
  font-size: $font-size-m;
  font-weight: 300;
  &:last-child {
    margin-bottom: 0;
  }
}

i {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

input,
select,
button {
  appearance: none;
  border-radius: 0;
  &::-moz-focus-inner {
    border: none;
  }
}

li {
  margin-bottom: 0;
}

strong {
  font-weight: 700;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
