$color-primary: #75C06B;
$color-secondary: #5798AA;
$color-tertiary: #F2F2F2;
$color-loading: #D01E7E;
$color-white: #FFF;

$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 3rem;

$shadow-default: 0 0 30px rgba(0, 0, 0, 0.1);

$width-small: 768px;
$width-medium: 900px;
$width-large: 1200px;

$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

@mixin card {
  background-color: $color-white;
  box-shadow: $shadow-default;
  padding: $space-m;
}

@mixin flexed {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  > :not(:last-child) {
    margin-right: $space-s;
  }
}

@mixin container {
  margin: auto;
  max-width: $width-large;
  padding-left: $space-m;
  padding-right: $space-m;
  @media (min-width: 768px) {
    padding-left: $space-l;
    padding-right: $space-l;
  }
}
