$color-primary: #75C06B;
$color-secondary: #5798AA;
$color-tertiary: #F2F2F2;
$color-white: #FFF;

$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 3rem;

$shadow-default: 0 0 30px rgba(0, 0, 0, 0.1);

$container-width-small: 800px;
$container-width: 1200px;

$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.375rem;
$font-size-xl: 1.625rem;

@mixin card {
  background-color: $color-white;
  box-shadow: $shadow-default;
  padding: $space-m;
}
@mixin container {
  margin: auto;
  max-width: $container-width;
  padding-left: $space-m;
  padding-right: $space-m;
  @media (min-width: 768px) {
    padding-left: $space-l;
    padding-right: $space-l;
  }
}
