@import '../../styles/variables';

.background {
  background-color: $color-tertiary;
  padding-top: $space-l;
}

.content {
  padding: $space-m;
  @include container;
}

@media (min-width: $width-large) {
  .background {
    padding-top: $space-xl;
  }
}
