@import '../../styles/variables.scss';

.comment {
  background-color: transparentize($color-primary, 0.7);
  margin: 0 -1rem;
  padding: $space-m;
  &:nth-child(even) {
    background-color: transparentize($color-primary, 0.8);
  }
}

.body {
  max-width: 700px;
}

.commenter {
  @include flexed;
}
