@import '../../styles/variables.scss';

.comment {
  border: 2px solid $color-primary;
  border-radius: $space-s;
  padding: $space-m;
  &:not(:last-child) {
    margin-bottom: $space-m;
  }
}

.commenter {
  @include flexed;
}
