@import '../../styles/variables.scss';

.post {
  @include card;
}

.actions,
.action {
  align-items: center;
  display: flex;
}

.actions {
  justify-content: flex-end;
  margin: $space-s 0;
  > :not(:last-child) {
    margin-right: $space-m;
  }
}

.action {
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: none;
  cursor: pointer;
  > :not(:last-child) {
    margin-right: $space-xs;
  }
}

.action-comment {
  * {
    color: $color-primary;
  }
}

.action-user {
  * {
    color: $color-secondary;
  }
}

.body {
  max-width: 700px;
}

.user {
  background-color: transparentize($color-secondary, 0.7);
  margin: 0 -1rem -1rem;
  padding: $space-m;
}

.comments {
  margin: $space-m 0 -1rem;
}
