@import '../../styles/variables.scss';

.post {
  @include card;
}

.actions,
.action {
  align-items: center;
  display: flex;
}

.actions {
  justify-content: flex-end;
  margin: $space-s 0;
  > :not(:last-child) {
    margin-right: $space-m;
  }
}

.action {
  appearance: none;
  border: 0;
  border-radius: $space-xs;
  background-color: none;
  cursor: pointer;
  > :not(:last-child) {
    margin-right: $space-xs;
  }
}

.action-comment {
  * {
    color: $color-primary;
  }
}

.action-user {
  * {
    color: $color-secondary;
  }
}

.user {
  border: 2px solid $color-secondary;
  border-radius: $space-s;
  padding: $space-m;
  &:not(:last-child) {
    margin-bottom: $space-m;
  }
}
